body
{
	margin: 0;
	padding: 0;
	background: #ccc;
}

button
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100px;
	width: 400px;
	background: #fff3e1;
}
